@model varastonhallinta1.Models.Tilaukset

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Tilaukset</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Määrä)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Määrä)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Asiakkaat.YritysNimi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Asiakkaat.YritysNimi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tuotteet.TuoteID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tuotteet.TuoteID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TilausID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
