@model IEnumerable<varastonhallinta1.Models.Toimittajat>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ToimittajaID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.YritysNmi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.YhteysHenkilö)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Puhelin)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ToimittajaID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.YritysNmi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.YhteysHenkilö)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Puhelin)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ToimittajaID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ToimittajaID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ToimittajaID })
        </td>
    </tr>
}

</table>
