@model varastonhallinta1.Models.Henkilöstö

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Henkilöstö</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Etunimi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Etunimi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sukunimi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sukunimi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Puhelin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Puhelin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sähköposti)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sähköposti)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Roolit.Roolinimi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Roolit.Roolinimi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Logins.Käyttäjätunnus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Logins.Käyttäjätunnus)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.HenkilöID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
